<!DOCTYPE html>
<style>
</style>
<html>
    <head>
        <title> Line Graph </title>
    <center>
      Population of the United States of America from 1960 to 2019
    </center>
    </head>


    <body>
      <div id="chart"></div>
        <br>
        Click on this button to draw the graph:
        <button id = "render"> render </button><br>
        Click on this button to progress to the next year:
        <button id = "transition"> transition </button>

    </body>
    <script src="http://d3js.org/d3.v5.js"
    	charset="utf-8"></script>
    <script src = "static/js/script.js"></script>
</html>
